@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #fac28d;
    /*opciones color principal: #80ac75; 173638; fac28d;*/
    --primary-color-dark: #ff6600;
    /*opciones color texto: #51b3ae; df6c00;*/
    --secondary-color: #2e0f00;
    --background-color: #000000;
    --text-color: #ffd903;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea,ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a  {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--primary-color);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--background-color);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color);
    animation: animartitulo 4s infinite ease-in-out;
}

@keyframes animartitulo {
    0% {
        transform: translateY(0);
        color: #000;
    }
    50% {
        transform: translateY(-10px);
        color: #df6400;
    }
    100% {
        transform: translateY(0);
        color: #000;
    }
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--background-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--background-color);
    color: var(--primary-color);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem var(--background-color);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem var(--background-color);
}

.bi-hand-index-thumb-fill,
.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
    color: var( --primary-color-dark);
}

.numerito {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.texto-footer {
    color: var(--primary-color-dark);
    font-size: .85rem;
}

main {
    background-color: var(--background-color);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
}

.titulo-principal {
    color: var(--primary-color-dark);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto {
    transition: all .2s;
}

.producto:hover {
    transform: scale(1.02);
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: .25rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--background-color);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}


/** CARRITO **/ 

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--primary-color);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--primary-color-dark);
    cursor: pointer;

}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--secondary-color);
    padding: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--background-color);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled {
    display: none;
}